.nav {
  display: flex;
  justify-content: space-around;
  width: 100%;

  &__link {
    text-transform: uppercase;
    text-decoration: none;
    color: #444;
    display: flex;
    align-items: center;
  }

  .logo {
    width: 150px;
    filter: invert(0.3);
  }
}
